{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "proseWrap": "preserve",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
}
